@*@model Infraestructure.Models.Articulo*@

@model LNegocio.Factura 

<tbody id="productosCompra">

    @if (Model.Articulos == null)
    {
        <tr class="table-warning">
            <td colspan="7"><div class="text-center">La lista regreso como NULL</div> </td>
        </tr>
    }
    else
      if (Model.Articulos.Count() < 0)
    {
        <tr class="table-warning">
            <td colspan="7"><div class="text-center">(Count menor 0) Algo raro pasa</div> </td>
        </tr>
    }
    else
    if (Model.Articulos.Count() == 0)
    {
        <tr class="table-warning">
            <td colspan="7"><div class="text-center">(Count igual 0)No hay productos disponibles</div> </td>
        </tr>
    }
    else
    if (Model.Articulos.Count() > 0)
    {
        <tr class="table-warning">
            <td colspan="7"><div class="text-center">Si hay productos pero no los muestra</div> </td>
        </tr>
    }
    else
    {
        foreach (var item in Model.Articulos)
        {
            <tr>
                <th scope="row">1</th>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td class="text-center">
                    ₡@Html.DisplayFor(modelItem => item.Costo)
                </td>
                <td class="text-center">
                    #@Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    ₡@Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    @Ajax.ActionLink("Agregar", "AgregarProducto", "Home",
                        new { id = item.ID },
                        new AjaxOptions
                             {
                            UpdateTargetId = "productosCompra",
                            InsertionMode = InsertionMode.Replace,
                        }, new { @class = "btn btn-success" })

                    @*<button type="button"
                            class="btn btn-success">
                        Agregar
                    </button>*@

                </td>
                <td class="text-center">
                    @Ajax.ActionLink("Eliminar", "EliminarProducto", "Home",
                         new { id = item.ID },
                         new AjaxOptions
                              {
                             UpdateTargetId = "productosCompra",
                             InsertionMode = InsertionMode.Replace,
                         }, new { @class = "btn btn-danger" })

                    @*<button type="button"
                            class="btn btn-danger">
                        Eliminar
                    </button>*@

                </td>
            </tr>
        }
    }
</tbody>